.header {
    background-color: rgb(246, 246, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 10px 0px 10px 0px;
}

.headerList {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.headerListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    cursor: pointer;
}
